<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="css/pubilc.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="header">
			<div class="margin">
				<div class="header-left">
					<p>你好欢迎<b><%=user_session.username %></b>来到景徽菜篮子！</p>
					<a  href="/admin/deng">登录</a>
					<a href="/admin/zhuce">免费注册</a>
				</div>
				<div class="header-right">
					<a href="#">收藏</a>
					<a href="#">客户服务</a>
				</div>
			</div>
		</div>
		<div class="head">
			<div class="margin">
				<a href="#" class="img1"><img src="images/2.png"/></a>
				<a href="#" class="img2"><img src="images/3.jpg"/></a>
				<a href="#" class="img3"><img src="images/6.jpg"/></a>
				<div class="box">
					<form>
						<a href="#"><img src="images/7.png" class="img"/></a>
						<input type="text" name="txt" id="txt" value="请输入关键字进行搜索" />
						<input type="submit" name="btn" id="btn" value="搜索" />
					</form>
				    <p>关键字：   <a href="">石斛</a>
						    	<a href="">厂家直发</a>
						    	<a href="">野猪肉</a>
						    	<a href="">福晒</a>
						    	<a href="">预售</a>
				    </p>
				</div>
				<div class="box1">

					<a href="#"><img src="images/8.gif"/></a>
					<a href="#">400-878-8568</a>
					<a href="#"><img src="images/4.png"/></a>
				</div>
				<a href="#" class="img4"><img src="images/5.gif"/></a>
			</div>
		</div>
		<div id="nav">
			<div class="margin">
				<a href="#">全部商品列表</a>
				<ul class="nav">
					<li><a href="#">首页</a><span>|</span></li>
					<li><a href="#">今日特价</a><span>|</span></li>
					<li><a href="#">建华社区馆</a><span>|</span></li>
					<li><a href="#">追溯农业产品专区</a><span>|</span></li>
					<li><a href="#">手机定单</a><span>|</span></li>
					<li><a href="#">配送时效</a><span>|</span></li>
					<li><a href="#">配送区域</a><span>|</span></li>
					<li><a href="#">企业采购</a><span>|</span></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="margin">
				<div class="banner-left">
					<ul>
						<li><a href="#"><img src="images/9.jpg"/>蔬菜/水果</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/10.jpg"/>肉类蛋禽</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/11.jpg"/>海鲜水产</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/12.jpg"/>粮食副油</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/13.jpg"/>农特产品</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/14.jpg"/>休闲食品</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/15.jpg"/>酒水茶饮</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/16.jpg"/>生活百货</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/17.jpg"/>生活服务</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
					</ul>
				</div>
				<div class="cont box2">
					<div class="imgbox">
						<img src="images/19.jpg"/>
						<img src="images/18.jpg"/>
						<img src="images/20.jpg"/>
						
					</div>
					<div class="list">
						<span>1</span>
						<span>2</span>
						<span>3</span>
					</div>
				</div>
	            <div class="box4">
	            	<div class="imgbox1">
	            	    <h3>
		            	    <img src="images/21.jpg"/>
		            		<img src="images/22.jpg"/>
		            		<img src="images/23.jpg"/>
		            		<img src="images/24.jpg"/>
	            	    </h3>	
	                    <h3>
		                    <img src="images/25.jpg"/>
		            		<img src="images/26.jpg"/>
		            		<img src="images/27.jpg"/>
	                    </h3>
	            		<a class="btns-left"></a>
	            		<a class="btns-right"></a>
	            	</div>
	            </div>
	            <div class="banner-right">
	            	<div class="banner-right-1">
	            		<div class="banner-right-1-top">
	            			<a href="#" class="a2">菜篮快报</a>
	            		    <a href="#" class="a3">我要充值</a>
	            		</div>
	            		<div class="banner-right-1-bottom">
	            			<div class="banner-right-1-bottom-1">
	            				<ul>
	            					<li><a href="#">1.清明假期期间延迟发货</a></li>
	            					<li><a href="#">2.2018年发货延迟通知</a></li>
	            					<li><a href="#">3.清明假期期间延迟发货</a></li>
	            					<li><a href="#">4.清明假期期间延迟发货</a></li>
	            					<li><a href="#">5.清明假期期间延迟发货</a></li>
	            				</ul>
	            			</div>
	            			<div class="banner-right-1-bottom-2">
	            				<p>充值金额</p>
	            				<p>
		            				<input type="radio" name="cheng" id="" value="50" />50
		            				<input type="radio" name="cheng" id="" value="150" />150
		            				<input type="radio" name="cheng" id="" value="300" />300
	            				</p>
	            				<h3>
	            					<input type="text" name="" id="txt1" class="txt1" value="" />
	            				    <input type="button" name="" id="btn1" value="充值" />
	            				</h3>
	            			</div>
	            		</div>
	            	</div>
	            	<div class="banner-right-2">
	            		<a href="#"><img src="images/28.jpg"/></a>
	            	</div>
	            	<div class="banner-right-3">
	            		<a href="#"><img src="images/30.jpg"/></a>
	            	</div>
	            </div>
			</div>
		</div>
		<div id="main">
			<div class="margin">
				<div class="main-1">
					<div class="main-1-1">
						每日推荐
					</div>
					<div class="main-1-2">
						<div class="imgbox2">
							<div class="mbox1">
								<div class="mbox">
									<img src="images/31.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
						    <div class="mbox1">
								<div class="mbox">
									<img src="images/32.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/33.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<a href="/admin/xiang"><img src="images/34.jpg"/></a>
									<p>香蕉 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/35.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/36.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/37.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/38.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/39.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/40.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/31.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/32.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/33.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/34.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
							<div class="mbox1">
								<div class="mbox">
									<img src="images/35.jpg"/>
									<p>生菜 400g/份</p>
									<h3>今日特价：<span>￥9.90</span></h3>
								</div>
							</div>
						</div>	
						
						<div class="btnt">
				            <input type="button" id="mleft" value="<">
				            <input type="button" id="mright" value=">">
				        </div>
					</div>
					
				</div>
				<div class="mian-2 haha">
					<div class="main-2-1">
						<div class="main-2-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-2-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/42.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<!--<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="香蕉-商品详情.html">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>-->
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-3 haha">
					<div class="main-3-1">
						<div class="main-3-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-3-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/55.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-connet-1">
					<a href="#"><img src="images/58.jpg"/></a>
				</div>
				<div class="main-4 haha">
					<div class="main-4-1">
						<div class="main-4-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-4-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/56.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-5 haha">
					<div class="main-5-1">
						<div class="main-5-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-5-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/57.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-connet-1">
					<a href="#"><img src="images/59.jpg"/></a>
				</div>
				<div class="main-6 haha">
					<div class="main-6-1">
						<div class="main-6-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-6-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/60.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-7 haha">
					<div class="main-7-1">
						<div class="main-7-1-left">
							<h3>蔬菜/水果</h3>
							<a href="#">更多</a>
						</div>
						<div class="main-7-1-right">
						     <a href="#">时鲜水果</a> |
						     <a href="#">精选蔬菜</a>
						</div>
					</div>
					<div class="main-2-2">
						<div class="main-2-2-left">
							<a href="#"><img src="images/61.jpg"/></a>
						</div>
						<div class="main-2-2-connet">
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/44.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/45.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/46.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/47.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/48.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/49.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/50.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
							<div class="main-2-2-connet-1">
								<div class="main-2-2-connet-1-2">
									<a href="#">
									   <img src="images/51.jpg"/>
									   <h3 class="go"><span>加入购物车</span></h3>   
									</a>
									<p><i>香蕉 950g-1050g</i></p>
									<p><span>￥14.5</span><b>原价￥15.5</b></p>
								</div>
							</div>
						</div>
						<div class="main-2-2-right">
							<div class="main-2-2-right-top">
								<a href="#"><img src="images/43.jpg"/></a>
							</div>
							<div class="main-2-2-right-bottom">
								<div class="main-2-2-right-bottom-top">
									【预售】善田有机蔬菜礼盒
								</div>
								<ul class="main-2-2-right-bottom-bottom">
									<li>
										<a href="#"><img src="images/52.jpg"/></a>
										<b>有机花菜 47</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
									<li>
										<a href="#"><img src="images/53.jpg"/></a>
										<b>黄瓜 450</b><br />
										<i>￥6.80</i><br />
										<span>￥7.28</span>
									</li>
									<li>
										<a href="#"><img src="images/54.jpg"/></a>
										<b>有机花菜</b><br />
										<i>￥9.58</i><br />
										<span>￥11.08</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="main-connet-1">
					<a href="#"><img src="images/62.jpg"/></a>
				</div>
			</div>	
		</div>
		<div id="footer">
			<div class="margin">
				<div class="footer-top">
					<div class="footer-top-left">
						<a href="#"><img src="images/63.gif"/></a>
						<h3>1088-567-6989</h3>
					</div>
	                <dl>
	                	<dt>关于我们</dt>
	                	<dd><a href="#">平台介绍</a></dd>
	                	<dd><a href="#">联系我们</a></dd>
	                </dl>
	                <dl>
	                	<dt>购物指南</dt>
	                	<dd><a href="#">交易条款</a></dd>
	                	<dd><a href="#">购物须知</a></dd>
	                	<dd><a href="#">交易条款</a></dd>
	                	<dd><a href="#">购物须知</a></dd>
	                </dl>
	                <dl>
	                	<dt>配送说明</dt>
	            
	                </dl>
	                <dl>
	                	<dt>会员介绍</dt>
	                	<dd><a href="#">等级说明</a></dd>
	                	<dd><a href="#">联系我们</a></dd>
	                </dl>
	                <dl>
	                	<dt>售后服务</dt>
	                	<dd><a href="#">验货与拒收</a></dd>
	                	<dd><a href="#">退换货</a></dd>
	                </dl>
				</div>
				<div class="footer-bottom">
					<a href="#">快速查询</a> |
					<a href="#">百度</a> |
					<a href="#">支付宝</a>
				</div>
				<div class="footer-bottom-bottom">
					<p>客户服务查询：65793298090 传真：759837979</p>
					<p>安徽菜篮子景徽有限公司</p>
				</div>
			</div>
		</div>
		<ul class="vvan">
			<li>F1 | 素食主义</li>
			<li>F2 | 无肉不欢</li>
			<li>F3 | 生猛海鲜</li>
			<li>F4 | 明智之选</li>
			<li>F5 | 别样风味</li>
			<li>F6 | 别样风味</li>
		</ul>
		<a href="/admin/gou" class="gou">
		</a>
	</body>

	<script type="text/javascript" src="js/jquery.js">
	</script>
	<script type="text/javascript" src="js/jquery.banner.1.1.0.js">
	</script>
	<script type="text/javascript" src="js/json.js"  charset="UTF-8">
	</script>
	<script type="text/javascript" src="js/style.js">
	</script>
	
</html>
