<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="css/pubilc.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/your.css" type="text/css"/>
		<link rel="stylesheet" href="css/your1.css" type="text/css"/>
		<title></title>
	</head>
	<body>
		<div class="header">
			<div class="margin">
				<div class="header-left">
					<p>你好欢迎<b><%=user_session.username %></b>来到景徽菜篮子！</p>
					<a  href="/admin/deng">登录</a>
					<a href="/admin/zhuce">免费注册</a>
				</div>
				<div class="header-right">
					<a href="#">收藏</a>
					<a href="#">客户服务</a>
				</div>
			</div>
		</div>
		<div class="head">
			<div class="margin">
				<a href="#" class="img1"><img src="images/2.png"/></a>
				<a href="#" class="img2"><img src="images/3.jpg"/></a>
				<a href="#" class="img3"><img src="images/6.jpg"/></a>
				<div class="box">
					<form>
						<a href="#"><img src="images/7.png" class="img"/></a>
						<input type="text" name="txt" id="txt" value="请输入关键字进行搜索" />
						<input type="submit" name="btn" id="btn" value="搜索" />
					</form>
				    <p>关键字：   <a href="">石斛</a>
						    	<a href="">厂家直发</a>
						    	<a href="">野猪肉</a>
						    	<a href="">福晒</a>
						    	<a href="">预售</a>
				    </p>
				</div>
				<div class="box1">

					<a href="#"><img src="images/8.gif"/></a>
					<a href="#">400-878-8568</a>
					<a href="#"><img src="images/4.png"/></a>
				</div>
				<a href="#" class="img4"><img src="images/5.gif"/></a>
			</div>
		</div>
		<div id="nav">
			<div class="margin">
				<a href="#" class="xi">全部商品列表</a>
				<ul class="nav">
					<li><a href="/admin/index">首页</a><span>|</span></li>
					<li><a href="#">今日特价</a><span>|</span></li>
					<li><a href="#">建华社区馆</a><span>|</span></li>
					<li><a href="#">追溯农业产品专区</a><span>|</span></li>
					<li><a href="#">手机定单</a><span>|</span></li>
					<li><a href="#">配送时效</a><span>|</span></li>
					<li><a href="#">配送区域</a><span>|</span></li>
					<li><a href="#">企业采购</a><span>|</span></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="margin">
				<div class="banner-left">
					<ul class="xixi">
						<li><a href="#"><img src="images/9.jpg"/>蔬菜/水果</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/10.jpg"/>肉类蛋禽</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/11.jpg"/>海鲜水产</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/12.jpg"/>粮食副油</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/13.jpg"/>农特产品</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/14.jpg"/>休闲食品</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/15.jpg"/>酒水茶饮</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/16.jpg"/>生活百货</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
						<li><a href="#"><img src="images/17.jpg"/>生活服务</a>
							<div class="box-1">
								<p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
							    <p>
									<a href="#" class="a1">时鲜水果</a>
									<a href="#">瓜类</a>
									<a href="#">浆果类</a>
									<a href="#">柑橘类</a>
									<a href="#">苹果类</a>
									<a href="#">香蕉类</a>
									<a href="#">梨类</a>
									<a href="#">热带水果类</a>
								</p>
						   </div>
						</li>
					</ul>
				</div>
			<div class="banner-top">
				首页>蔬菜/水果>香蕉
			</div>
			<div class="banner-bottom">
				<div class="banner-bottom-left">
					<div class="banner-bottom-left-x">
					       蔬菜/水果
					</div>
					<div class="banner-bottom-left-1">
						时鲜水果
					</div>
					<div class="banner-bottom-left-2">
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
					</div>
					<div class="banner-bottom-left-1">
						时鲜水果
					</div>
					<div class="banner-bottom-left-2">
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
						<p><a href="#">瓜类</a><a href="#">瓜类</a></p>
					</div>
					<div class="banner-bottom-left-1">
						时鲜水果
					</div>
					<div class="banner-bottom-left-2">
						<ul>
							<li><a href="#"><img src="images/52.jpg"/></a><b>空心菜</b><br/><i>￥10.54</i></li>
							<li><a href="#"><img src="images/53.jpg"/></a><b>黄瓜</b><br/><i>￥10.54</i></li>
							<li><a href="#"><img src="images/54.jpg"/></a><b>青萝卜</b><br/><i>￥10.54</i></li>
						</ul>
					</div>
				</div>
				
				<div class="banner-bottom-right">
					<h3 class="zi"><img src="images/34.jpg" class="iimg"/></h3>
					<div class="banner-bottom-right-top">
						<div class="banner-bottom-right-top-left">
							<div class="banner-bottom-right-top-left-1">
								<a href="#"><img src="images/34.jpg"/></a>
								<span id="yi">
								</span>
								<p></p>
							</div>
							
							<div class="banner-bottom-right-top-left-2">
								<h3 class=left><img src="images/29.png"/></h3>
								<p><img src="images/34.jpg" class="oimg"/></p>
								<h3 class=right><img src="images/28.png"/></h3>
							</div>
						</div>
						<div class="banner-bottom-right-top-right">
							<div class="banner-bottom-right-top-right-header">
								香蕉950g-1050g 果肉鲜滑，表里如一
							</div>
							<div class="banner-bottom-right-top-right-top">
								<em>原价：￥15.80</em>
								<span>现价：</span>
								<i>￥14.50</i>
								<b>9.2折</b>
							</div>
							<div class="banner-bottom-right-top-right-bottom">
								<div class="banner-bottom-right-top-right-bottom-left">
									<dd><em>订单满99元免运费</em></dd>
									<dd><b>规格：950g-1050g/份</b></dd>
									<dd><b>运费：合肥市市区内运费10元</b></dd>
									<dd><b>购买数量</b>
										<form>
											<input type="button" name="jian" id="jian" value="-" />
						                    <input type="text" name="shu" id="shu" value="1" />
						                    <input type="button" id="jia" value="+" />
										</form>
										
									    <b>库存数量：3211</b>
									</dd>
									<dd ip="213312" class="hihi"><p class="bibi">加入购物车</p><p>立即购买</p><img src="images/5.gif"/></dd>
								</div>
								<div class="banner-bottom-right-top-right-bottom-right">
								  <dl>
								  	<dd><em>产品编号：1767422</em></dd>
									<dd><em>已出售：8133</em></dd>
									<dd><em>评论人数：已有132人评论</em></dd>
									<dd><em>服务支持：</em><a href="#">便捷退换货</a><a href="#">限时配送</a></dd>
								  </dl>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="banner-bottom-right-bottom">
						<div class="banner-bottom-right-bottom-top">
							<ul class="mo1">
								<li><a href="#">产品信息</a></li>
								<li><a href="#">成交记录</a></li>
								<li><a href="#">产品口碑</a></li>
							</ul>
						</div>
						<div class="banner-bottom-right-bottom-bottom">
						    <dl class="mo">
						    	<dd>
									<img src="images/66.jpg"/>
									<img src="images/67.jpg"/>
									<img src="images/68.jpg"/>
									<img src="images/69.jpg"/>
									<img src="images/70.jpg"/>
									<img src="images/71.jpg"/>
									<img src="images/72.jpg"/>
						    	</dd>
						    	<dd><p>暂无成交记录，请点击购买</p></dd>
						    	<dd><em><img src="images/74.jpg"/>暂时没有发现</em></dd>
						    </dl>	
	
						</div>
					</div>
				</div>
			</div>

		</div>
	</div> 	
	<div id="footer">
			<div class="margin">
				<div class="footer-top">
					<div class="footer-top-left">
						<a href="#"><img src="images/63.gif"/></a>
						<h3>1088-567-6989</h3>
					</div>
	                <dl>
	                	<dt>关于我们</dt>
	                	<dd><a href="#">平台介绍</a></dd>
	                	<dd><a href="#">联系我们</a></dd>
	                </dl>
	                <dl>
	                	<dt>购物指南</dt>
	                	<dd><a href="#">交易条款</a></dd>
	                	<dd><a href="#">购物须知</a></dd>
	                	<dd><a href="#">交易条款</a></dd>
	                	<dd><a href="#">购物须知</a></dd>
	                </dl>
	                <dl>
	                	<dt>配送说明</dt>
	            
	                </dl>
	                <dl>
	                	<dt>会员介绍</dt>
	                	<dd><a href="#">等级说明</a></dd>
	                	<dd><a href="#">联系我们</a></dd>
	                </dl>
	                <dl>
	                	<dt>售后服务</dt>
	                	<dd><a href="#">验货与拒收</a></dd>
	                	<dd><a href="#">退换货</a></dd>
	                </dl>
				</div>
				<div class="footer-bottom">
					<a href="#">快速查询</a> |
					<a href="#">百度</a> |
					<a href="#">支付宝</a>
				</div>
				<div class="footer-bottom-bottom">
					<p>客户服务查询：65793298090 传真：759837979</p>
					<p>安徽菜篮子景徽有限公司</p>
				</div>
			</div>
		</div>
		<a href="/admin/gou" class="gou">
		</a>
	</body>
	<script type="text/javascript" src="js/jquery.js">
	</script>
	<script type="text/javascript" src="js/style1.js">
	</script>
</html>
